/*  ------------------------------
    Generic
    ------------------------------  */

    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

/*  ------------------------------
    Elements
    ------------------------------  */

    /*---------- Base ----------*/

    body {

        font-family: "Averia Serif Libre", serif;
        font-weight: 700;
        font-style: normal;
        color: #eca136;
        text-decoration: none;
        background-color: rgb( 9, 26, 33)

    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    /*---------- Éléments texte ----------*/

    h1 {

        font-size: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

/*  ==============================
    Components
    ==============================  */

    /*---------- Header ----------*/

    header {

        width: 1000px;
        background: rgb(15, 38, 49);
        opacity: 95%;

        position: fixed;
        left: 25.9%;
        top: 0;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }