/*  ------------------------------
    Generic
    ------------------------------  */

    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

/*  ------------------------------
    Elements
    ------------------------------  */

    /*---------- Base ----------*/

    body {

        font-family: "Averia Serif Libre", serif;
        font-weight: 700;
        font-style: normal;
        color: #eca136;
        text-decoration: none;
        background-color: rgb( 9, 26, 33)

    }

    .wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }

    /*---------- Éléments texte ----------*/

    h1 {

        font-size: 40px;

        display: flex;
        justify-content: center;
        align-items: center;

    }

/*  ==============================
    Components
    ==============================  */

    /*---------- Header ----------*/

    header {

        width: 1000px;
        background: rgb(15, 38, 49);
        opacity: 95%;

        position: fixed;
        left: 500px;
        top: 0;
        z-index: 1;

        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }

    /*---------- Contenu ----------*/

    .contenu {

        max-width: 925px;
        margin: 100px auto 0 auto;

    }

    .contenu .photo {

        max-width: 100%;

    }

    .contenu ul {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 45px;

        list-style-type: none;

        padding: 0;

    }

    .contenu li {

        padding: 20px;
        background-color: rgb(15, 38, 49);

        border-radius: 10px;

        position: relative;

    }

    .contenu .bouton {
        
        background-color: white;
        opacity: 50%;

        border-bottom-left-radius: 5px;

        position: absolute;
        right: 20px;

    }

    .contenu .bouton:hover {

        cursor: pointer;

    }